.homescreen {
  max-width: 90vw;
  margin: 0 auto;
}
.homescreen .list {
  min-height: 90vh;
  padding-bottom: 40px;
}

.homescreen .search {
  display: flex;
  align-items: center;
  min-height: 10vh;
  margin: 0 auto;
  justify-content: space-around;
}
.ant-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
